* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#first {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#007cff54;
}
.mainContainer1 {
    padding: 50px;
    height: 30rem;
    background-color: #6f226f9e;
    display:flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 3px #bdbbbb;
    border-radius: 5px;
}
.subContainer1 img {
    position: relative;
    left: 50%;
    margin-left: -50px
}
.subContainer1 p {
    font-size: 50px;
    color:white;
    font-weight: bold;
}
.subContainer2 p {
    color:white;
    font-weight: bold;
}
#playNow {
    width: 12rem;
    height: 2rem;
    position: relative;
    top: 30px;
    left: 25px;
    color:white;
    font-weight: bold;
    background-image: linear-gradient(to right,purple,blue);
    border:none;
    border-radius: 5px;
    box-shadow:2px 2px 4px #353333;
}
#playNow:hover {
    cursor:pointer;
}
#second {
    height: 100vh;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#ecc0ecc9,#9f0c9fb5);
}
.mainContainer2 {
    width:90%;
    max-width: 600px;
    height: fit-content;
    box-shadow: 4px 4px 5px #979494;
    border-radius: 10px;
    background-color: white;
}
.secondSub1 {
    padding:20px 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
    background-image: linear-gradient(to right,#ffbf0070,#ff8fc4a6,#77bfd5);
}
.p1 {
    font-size: 40px;
    font-weight: bold;
}
#progressBar {
    width: 150px;
    height:15px;
  background-color: gray;
  border-radius: 10px;
}
#progressBar div {
    width:15px;
    height:15px;
    background-color: #e14ae1;
    border-radius: 10px;
}
.secondSub2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:20px;
}
.questions {
    font-size: 25px;
}
.answers {
    width:90%;
    max-width: 32rem;
    height: 50px;
    padding:10px;
    background-color: #aaa2a269;
    border-radius: 20px;
}
.btnDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 25px;
}
.btnDiv button {
    width: 5rem;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid #797979
}
